// $font: 15px;
$font-small: 14px;
$font-header: 18px;

.root {
    width: 210mm;
    margin: auto;
    padding: 10mm;
}

.light {
    transition: all 0.5s ease;
    background-color: white;
    color: black;
}

.dark {
    transition: all 0.5s ease;
    background-color: #333333;
    color: white;

    a {
        color: skyblue;
    }
}

.icon {
    font-size: 15px;
    opacity: 0.5;
}

.icon:hover {
    opacity: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: $font-small;
}

.contact-key {
    float: left;
    width: 50px;
}

.education-key {
    float: left;
    width: 125px;
}

.title {
    margin: 16px;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

.section-header {
    font-size: $font-header;
    border-bottom: black 1px solid;
    margin-bottom: 6px;
    margin-top: 6px;
    font-weight: bold;
}

.pill-container {
    display: flex;
    justify-content: space-between;
}

.lang-pill {
    color: white;
    padding: 4px 6px;
    background-color: yellowgreen;
    border-radius: 5px;
    display: inline-block;
}

.tool-pill {
    color: white;
    padding: 4px 6px;
    background-color: royalblue;
    border-radius: 5px;
    margin-top: 6px;
}

.experience-company {
    // equal to pill-container. Just make flex-space-between class 
    display: flex;
    justify-content: space-between;
}

.experience-date {
    min-width: 150px;
}