$font-small: 1rem;
$font-header: 1.28rem;

body {
  margin: 0;
}

a {
  transition: color 0.7s linear;
}

.bg-light {
  transition: all 0.7s linear;
  background-color: white;
}

.font-light {
  transition: all 0.7s linear;
  color: black;
}

.bg-dark {
  transition: all 0.7s linear;
  background-color: #333333;
}

.font-dark {
  transition: all 0.7s linear;
  color: white;

  a {
    color: skyblue;
  }
}

.icon {
  font-size: 1.25rem;
  opacity: 0.75;
}

.icon:hover {
  opacity: 1;
}

.rotor {
  position: relative;
  left: 0.3125rem;
  top: 0.9375rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: transform 0.7s linear;
}

.icon-light {
  position: absolute;
  transform: rotate(0deg);
  transition: transform 0.7s linear;
  top: -0.625rem;
  left: 0.9375rem;
}

.icon-dark {
  position: absolute;
  transform: rotate(180deg);
  transition: transform 0.7s linear;
  top: 2.5rem;
  left: 0.9375rem;
}

.icon-print {
  position: relative;
  left: 4rem;
  top: -2.5rem;
}

.icon-email {
  position: relative;
  left: 5rem;
  top: -2.5rem;
  color: black;
}

.toolbar {
  position: sticky;
  bottom: 0.9375rem;
  margin: auto;
  width: 8rem; //TODO
  height: 2.5rem;
  box-shadow: 0.125rem 0.125rem 0.5rem 0.0625rem #888888;
  z-index: 5;
  background-color: white;
  overflow: hidden;
  border-radius: 0.3125rem;
}

.collapsible {
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  transition: background-color 0.7s linear;
}

.bg-light .collapsible {
  background-color: #666666;
  color: white;
}

.bg-dark .collapsible {
  background-color: #cccccc;
  color: black;
}

.collapsible:after {
  content: "\25B7";
  font-weight: bold;
  float: right;
  margin-left: 0.3125rem;
  transform: rotate(0deg);
  transition: transform 0.5s ease-out;
}

.collapsible-open:after {
  transform: rotate(90deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    background-color 0.7s linear;
  padding: 0 0.375rem;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
}

.content-open {
  padding: 0.375rem 0.375rem;
}

.bg-light .content {
  background-color: #f2f2f2;
}

.bg-dark .content {
  background-color: #404040;
}

.paper {
  width: 50rem;
  margin: auto;
  padding: 1rem;
  border: 0.0625rem solid black;
}

.contact-container {
  font-size: $font-small;
}

.width-50 {
  display: inline-block;
  width: 3.3rem;
}

.width-125 {
  display: inline-block;
  width: 7.8125rem;
}

.section-header {
  font-size: $font-header;
  border-bottom: black 0.0625rem solid;
  margin-top: 0.375rem;
  font-weight: bold;
}

.title {
  margin: 1rem;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: underline;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.pill {
  color: white;
  padding: 0.25rem 0.375rem;
  background-color: yellowgreen;
  border-radius: 0.3125rem;
}

.language-pill {
  background-color: yellowgreen;
}

.tool-pill {
  background-color: royalblue;
}

.position {
  margin-bottom: 0.375rem;
}

.tasks {
  margin: 0;
  margin-bottom: 0.375rem;
}

.subtasks {
  list-style-type: "- ";
  padding-inline-start: 1.25rem;
}

.superscript {
  font-size: 0.5rem;
  vertical-align: super;
}

@media print {
  .paper {
    padding: 0;
    border: none;
  }

  .pill {
    color: black;
    border: 0.0625rem solid black;
  }

  .language-pill {
    background-color: white;
  }

  .tool-pill {
    background-color: white;
  }
}
